.button {
    width: 75px;
    height: 75px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
#UnitCommandPanel {
    position: absolute;
    right: 20px;
    bottom: 20px;
}